<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">



    <!-- Must added parts -->
    <display-name>Handmade Framework</display-name>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.thekingjoker18.handmade_framework.controller.FrontController</servlet-class>
        <!--  All Controller Package  -->
        <init-param>
            <param-name>base_package</param-name>
            <param-value>com.example.controller</param-value>
        </init-param>
        <init-param>
            <param-name>base_url</param-name>
            <param-value>/Handmade_Framework</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- Declaration of the used Servlet -->
    <servlet>
        <servlet-name>ExampleServlet</servlet-name>
        <servlet-class>com.example.servlet.ExampleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExampleServlet</servlet-name>
        <url-pattern>/ExampleServlet</url-pattern>
    </servlet-mapping>



</web-app>